.modal_title{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.modal_subtitle{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.32px;
    width: 100%;
    margin-bottom: 24px;
}