.inputStyle{
    width: 470px;
    background-color: #D9D9D980;
    height: 68px;
}

.background_image_style{
    width: 219%;
    left: -660px;
    top: -111px;
    position: absolute;
    height: 241%;
}

.card_login{
    position: absolute;
    z-index: 1;
    width: 530px;
    height: 530px;
    display: flex;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    flex-direction: column;
}

.text_description{
    display: flex;
    justify-content: left;
    text-align: left;
    color: var(--dark-d-200, #6E6E6E);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
}