.footer{
    background: #0E0E0E;
    color:white;
    height: auto;
    .container{
      padding-left: 40px;
      padding-top: 100px;
      padding-bottom: 60px;
      .infoBox{
        padding-right: 20px;
      }
    }
    
    .links{
      list-style-type: none;
      display: flex;
      ul {list-style-type: none;}
      li a{
        color: white;
        transition: color .2s;
        &:hover{
          text-decoration:none;
          color:#4180CB;
          }
      }
    }  
    .aboutCompany{
      column
      i{font-size: 25px;}
      a{
        color:white;
        transition: color .2s;
        &:hover{color:#4180CB}
      }
    } 
    .location{
      display: flex;
      i{font-size: 18px;}
    }
    .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
  }