
.list_item{
    border-radius: 6px !important; 
}

.list_item:hover {
    background-color: #4e46e537 !important;
}

.list_item_selected{
    background-color: #4e46e537 !important;
    font-weight: 600 !important;
    font-size: 16px !important;
}

.list_text_selected {
    color: #4F46E5 !important;
}

.list_text {
    color: #D4D4D4 !important;
}